<%-   include('./partials/head.ejs')   %>
    <link rel="stylesheet" href="../css/dashboard.css">
    <title>Home</title>
</head>
<body>
    <%-   include('./partials/header_navbar.ejs')   %>
    <main>
        <div id="imageContainer">
            <img id="mainImageLogin" src="images/main_image.jpg" alt="">   
            <div id="imageText">
                <h2>Dashboard</h2>
                <p>DriveTest Booking Kiosk</p>
            </div>  
        </div>        
    </main>
    <%-   include('./partials/footer.ejs')   %>
</body>
</html>